/* HTML Tag Styling 
-------------------------------------*/
* {
    border: 0;
    margin: 0;
}

body {
    display: flex;
    flex-wrap: wrap;
}

header {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

nav {
    width: 100%;
}

header h1 {
    text-align: center;
    width: 100%;
}

main {
    display: flex;
    flex-wrap: wrap;
}

section h3 {
    text-align: center;
    width: 100%;
}

footer {
    width: 100%;
    text-align: center;
    padding-bottom: 0.5em;
}

/* CSS Styling 
-------------------------------------*/
.navbin {
    width: 100%;
}

.navbar {
    background-color: rgb(63, 63, 63);
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0.50em;
    font-size: 150%;
}

.navbar a {
    display: block;
    color: white;
    padding: 14px 16px;
	text-decoration: none;
}

.navbar a:hover {
    background-color: white;
    display: block;
    color: rgb(63, 63, 63);
    padding: 14px 16px;
	text-decoration: none;
}

.headlineImage {
    display: flex;
    width: 100%;
    justify-content: center;
}

.headlineImage img {
    width: 15%;
    padding: 1em;
}

.headline {
    width: 100%;
    text-align: center;
    padding-bottom: 2em;
}

.articleBin {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.articleBin div {
    width: 100%;
    display: flex;
    justify-content: center;
}

.articleBin img {
    object-fit: cover;
    width: 350px;
    height: 255px;
    display: flex;
    justify-content: center;
}

.articleBin h3, .articleBin p {
    justify-content: center;
    width: 100%;
}

.articleBin p {
    padding: .25em;
}

.citiesBox {
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

.cityList {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cities-card {
    background-color: rgb(143, 218, 236);
    padding: 2em 1.5em;
    margin: 3em;
    width: 25%;
}

.landmarkBox {
    width: 100%;
    justify-content: center;
}

.landmarkList {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.landmarks-card {
    background-color: rgb(143, 218, 236);
    padding: 2em 1.5em;
    margin: 3em;
    width: 25%;
}

.celebrityBox {
    width: 100%;
}

.celebrityList {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.people-card {
    background-color: rgb(143, 218, 236);
    padding: 2em 1.5em;
    margin: 3em;
    width: 25%;
}